* {
    box-sizing: border-box;
}

body {
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    margin: 0;
}

body, .main-content-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content-wrapper, .main-content {
    flex: 1 0 auto;
}

div {
    display: block;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10.5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

form {
    display: block;
    margin-top: 0em;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

label, .blockLabel {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}